<% provide :title, "Edit #{@collection.name}" %>
<section class="row">
  <h1> Edit collection: <%= @collection.name %> </h1>

  <%= render partial: 'collection_form',
        locals: { editing: true } %>
</section>
