html {
  height: 100%;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
  color: #444;
  line-height: 140%;
}
a {
  text-decoration: none;
  color: #61A8C4;
}
h2 {
  font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
  font-size: 19px;
  font-weight: normal;
}
a:hover; {
  text-decoration: underline;
}
input, p, form {
  margin: 0;
}

body.page {
  background: url(Images/bg_repeater.gif) repeat-x scroll left top #0C2A4A;
  margin: 0;
}

td.pageContent {
  background: url(Images/bg_content_repeater.gif) repeat-x scroll left top #fff;
  padding: 15px 0 0;
}

img.pageMinimumWidth {
  width: 700px;
}

td.navBar {
  color: #fff;
  width: 100%;
}

td.navBarLeft {
  padding-left: 10px;
  font-size: 14px;
}

td.navBarRight {
  font-size: 12px;
  padding-right: 20px;
}

a.navBarButton,
a.navBarButtonSelected {
  display: inline-block;
  text-transform: none;
  background: none;
  margin-right: 5px;
  line-height: 32px;
  border: 1px solid #508aa1;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  padding: 0 10px;
}

a.navBarButton {
  background: url(Images/tab_repeater.png) repeat-x scroll left top;
}

a.navBarButtonSelected {
  color: #001838;
  font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  background: #dfeef3;
}

a.navBarButton,
a.navBarButtonRight,
div.navBarMessage {
  font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

a.navBarButtonRight {
  text-decoration: none;
  font-weight: 700;
  margin-left: 16px;
}

div.navBarMessage {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  padding: 0 3px;
}

td.areaHeader,
td.areaComment {
  color: #182B49;
  padding: 8px 1px 5px 5px;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
div.areaTitle {
  font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
  font-size: 24px;
}
div.areaComment {
  font-size: 12px;
}

td.simpleAreaHeader {
  background: #E8EBEA repeat-x;
  vertical-align: middle;
  padding: 2px 1px 5px 0;
}

td.dxpcControl_custom {
  border: 1px solid #fff;
}

td.popupArea {
  background: none;
  padding: 13px 15px 10px 0;
}

td.area {
  background: none;
  padding: 11px 0;
}

td.stepArea {
  background: #fff;
  padding: 11px 13px;
}

td.stepAreaFooter-l {
  background: #e8ebea;
  width: 9px;
  height: 44px;
}

td.stepAreaFooter-r {
  background: #e8ebea;
  width: 5px;
  height: 44px;
}

td.stepAreaFooter {
  background: #e8ebea;
  vertical-align: middle;
}

div.areaTitleLink {
  font-size: 10px;
  padding-top: 6px;
}

a.areaTitleLink,
a.areaTitleLinkRollover {
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  text-transform: none;
  padding: 0 15px 0 5px;
}

div.areaEmptyMessage {
  text-align: center;
  padding: 12px 0 16px;
}

span.currentStepIndicator {
  font-size: 10px;
  font-weight: 700;
  color: #FFF;
  padding-left: 5px;
}

div.stepAreaHeaderNextPrevControls,
div.stepAreaFooterNextPrevControls {
  background: url(Images/StepNextPrevBackground.gif) repeat-x;
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px;
  padding: 0 4px;
}

td.stepNextPrevLabel {
  height: 26px;
  font-size: 9px;
  padding-top: 4px;
  vertical-align: middle;
}

a.stepNextPrevLabel,
a.stepNextPrevLabelRollover {
  font-size: 9px;
  font-weight: 700;
  text-transform: none;
  white-space: nowrap;
  color: #000;
  text-decoration: none;
  padding: 0 5px;
}

a.stepNextPrevLabelRollover {
  color: #0069aa;
  cursor: pointer;
}

td.areaGraphicNextStep,
td.areaGraphicNextStepRollover {
  background: url(Images/StepNext.gif) no-repeat;
  height: 27px;
  width: 22px;
}

td.areaGraphicPreviousStep,
td.areaGraphicPreviousStepRollover {
  background: url(Images/StepPrevious.gif) no-repeat;
  height: 27px;
  width: 22px;
}

td.areaGraphicNextPrevSeparatorLine {
  background: url(Images/StepNextPrevSeparator.gif) no-repeat;
  height: 27px;
  width: 28px;
}

td.categorySidebarHeader-l,
td.helpSidebarHeader-l,
td.stepControlsHeader-l {
  background: #0069aa;
  height: 38px;
  padding-left: 0;
}

td.categorySidebarHeader-r,
td.helpSidebarHeader-r,
td.stepControlsHeader-r {
  background: #0069aa;
  height: 32px;
  padding-left: 0;
}

td.categorySidebarHeader,
td.helpSidebarHeader,
td.stepControlsHeader {
  background-repeat: repeat-x;
  background-color: #0069aa;
  background-position: top left;
  height: 38px;
  vertical-align: top;
}

div.helpSidebarTitle,
div.stepControlsTitle {
  padding-top: 12px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  color: #fff;
}

td.categorySidebar,
td.helpSidebar,
td.stepControls {
  background-color: #80a1b6;
  vertical-align: top;
}

td.categorySidebar {
  background-repeat: repeat-x;
}

td.stepControls {
  padding-right: 30px;
}

td.categorySidebarSearch {
  border-top: 1px solid #1c79b3;
  border-bottom: 1px solid #005991;
  background: #0069aa url(images/icon_search.png) no-repeat;
  background-position: 95% 87%;
  padding: 14px 17px;
}

div.categorySidebarSearchTextBox {
  padding-bottom: 8px;
}

input.searchInput {
  background: #fff;
  height: 22px;
  border: 1px;
  font-size: 13px;
  color: #000;
  border-radius: 1px;
  padding: 2px 3px;
}

td.categorySidebarSearchRule {
  background: #fff;
  height: 15px;
}

td.categorySidebarLabel,
td.categorySidebarLabelSelected {
  font-size: 14px;
  text-transform: none;
  border-bottom: 1px solid #668091;
  border-top: 1px solid #a6bdcb;
  padding: 10px 5px;
}

td.categorySidebarLabelLevel1 {
  padding-left: 15px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel2 {
  padding-left: 40px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel3 {
  padding-left: 55px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel4 {
  padding-left: 70px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel5 {
  padding-left: 85px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel6 {
  padding-left: 100px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel7 {
  padding-left: 115px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel8 {
  padding-left: 130px;
  background-position: 0 5px;
}

td.categorySidebarLabelLevel9 {
  padding-left: 145px;
  background-position: 0 5px;
}

a.categorySidebarLabel,
a.categorySidebarLabelSelected {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
}

a.categorySidebarLabelSelected {
  color: #7b235d;
  font-size: 13px;
}

td.helpTopic,
td.helpTopicSelected {
  font-size: 11px;
  padding: 1px 8px 3px 0;
}

td.helpTopicSelected {
  background: #1B8B75;
}

td.helpTopicLevel1 {
  padding-left: 8px;
}

td.helpTopicLevel3 {
  padding-left: 32px;
}

a.helpTopic,
a.helpTopicSelected {
  font-size: 11px;
  color: #ccd9e5;
  text-decoration: none;
  white-space: nowrap;
}

a.helpTopic:hover {
  color: #FFC0CB;
  text-decoration: underline;
}

a.helpTopicSelected {
  color: #FFC0CB;
}

td.stepControl {
  background: #333;
  vertical-align: top;
  border-left: 18px solid #333;
  height: 20px;
  padding: 3px 0 16px;
}

td.stepControlNumber,
td.stepControlNumberRollover,
td.stepControlNumberSelected {
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  width: 31px;
  height: 21px;
  color: #0069aa;
  vertical-align: middle;
  padding: 0 10px 0 31px;
}

td.stepControlNumberRollover {
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #ededea;
}

td.stepControlNumberSelected {
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #ededea;
  color: #1b8b75;
}

td.stepControlLabel,
td.stepControlLabelRollover,
td.stepControlLabelSelected {
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  padding: 0 10px 0 8px;
}

a.stepControlLabel,
a.stepControlLabelSelected {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

div.viewSwitcher {
  font-size: 10px;
  padding: 3px 15px 0 0;
}

a.viewSwitcher {
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
}

#divCategoryPath {
  color: #fff;
  padding-bottom: 15px;
  padding-left: 24px;
}
#divCategoryPath > a:after {
  position: relative;
  left: 7px;
  content: url(Images/breadcrumb_arrow.png);
}

#divCategoryPath > a:last-child:hover,
#divCategoryPath > a:last-child {
  color: #8C8A8A;
  cursor: text;
  text-decoration: none;
}
#divCategoryPath > a:last-child:after {
  content: none;
}

div.catalogItemOuter,
div.catalogFolderOuter {
  margin: 0 15px 15px 0;
}

td.catalogFolderFooter,
td.catalogItemFooter {
  background: #80a1b6;
  vertical-align: top;
}

td.catalogItem {
  background: #fff;
  height: 158px;
  text-align: center;
  border: 1px solid #80a1b6;
  padding: 15px;
}

td.catalogFolder {
  background: #fff;
  height: 158px;
  text-align: center;
  padding: 2px 0 6px;
}

img.catalogThumbnail {
  border: 0;
}

div.catalogItemFooter,
div.catalogFolderFooter {
  text-align: center;
  vertical-align: top;
  padding: 4px 0;
}

a.catalogFolderFooter,
a.catalogItemFooter {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

div.catalogRowThumbnail {
  float: right;
  margin-bottom: 12px;
}

img.catalogRowThumbnail {
  border: 1px solid #000;
}

div.catalogRowHeadline {
  text-align: left;
  font-weight: 700;
}

div.catalogRowDescription {
  text-align: left;
}

div.catalogFolderIcon {
  background: url(Images/CatalogFolderIcon.gif) no-repeat;
  height: 18px;
  padding-left: 22px;
}

a.siteButton,
a.smallButton,
a.searchButton {
  display: inline-block;
  background: url(Images/button_repeater.gif) repeat-x scroll left top #766D63;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  text-transform: none;
  padding: 3px 5px;
}
a.siteButton:after,
a.smallButton:after,
a.searchButton:after {
  padding: 0 2px 0 4px;
  content: url(Images/white_arrow.png);
  background: url(Images/button_repeater.gif) repeat-x scroll left top #766D63;
}

p.endOfButtons {
  clear: both;
  font-size: 0;
  margin: 0;
}

td.warningAreaInlineInfo,
td.warningAreaInlineWarning {
  background: #0069aa;
  border: 1px solid #0069aa;
  padding: 14px;
}

td.warningAreaInlineInfo {
  background: #698e26;
  border: 1px solid #afd4a9;
}

td.warningIconWarning {
  background: url(Images/IconWarning.gif) no-repeat left top;
  width: 55px;
  padding-left: 55px;
  height: 55px;
}

td.warningIconInfo {
  background: url(Images/IconInfo.gif) no-repeat left center;
  width: 49px;
  padding-left: 50px;
  height: 49px;
}

div.warningAreaMessageInfo,
div.warningAreaMessageWarning {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  vertical-align: middle;
  margin-left: 25px;
}

td.loginExistingUsers {
  vertical-align: top;
  padding-right: 20px;
}

td.loginNewUsers {
  vertical-align: top;
  border-left: 1px solid #DA710b;
  padding-left: 20px;
}

img.formMinWidth {
  height: 1px;
  width: 210px;
}

td.formFilling-preview {
  vertical-align: top;
  width: 100%;
  text-align: center;
  padding-left: 2px;
}

td.previewButtonFirst {
  background: url(Images/PreviewButtonFirst.gif) no-repeat;
}

td.previewButtonPrevious {
  background: url(Images/PreviewButtonPrevious.gif) no-repeat;
}

td.previewButtonNext {
  background: url(Images/PreviewButtonNext.gif) no-repeat;
}

td.previewButtonLast {
  background: url(Images/PreviewButtonLast.gif) no-repeat;
}

img.previewButtonSizer {
  width: 24px;
  height: 22px;
  border: none;
  display: block;
  margin-right: 4px;
}

div.previewPageNumberText {
  padding: 1px 7px 0 3px;
}

img.formFillingPreview {
  border: 1px solid #DA710b;
}

td.childArea {
  background: #efefef;
  border: 1px solid #0069aa;
  padding: 13px 15px 18px;
}

td.childArea-l,
td.childArea-r {
  width: 0;
}

td.orderSummaryCell {
  border: 1px solid #DA710b;
  padding: 4px 0 4px 8px;
}

td.assetThumbnail {
  background: #fff;
  height: 120px;
  width: 150px;
  text-align: center;
  padding-top: 20px;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}

td.assetThumbnailWithOptions {
  background: #fff;
  height: 115px;
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  padding: 15px 0 0 15px;
}

img.assetThumbnail {
  border: 0;
  vertical-align: top;
}

td.assetOptions {
  background: #fff;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  padding: 0 10px;
}

td.assetCaption {
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  background: #fff;
  height: 30px;
  font-size: 10px;
  text-align: left;
  padding: 0 6px 0 15px;
}

span.assetCaption,
a.assetCaption,
a.assetCaption:hover {
  font-size: 12px;
  color: #0069aa;
  font-weight: 700;
  text-decoration: none;
}

a.assetCaption:hover {
  text-decoration: underline;
  color: #FFC0CB;
}

div.block {
  padding-bottom: 10px;
}

div.subhead {
  font-weight: 700;
  padding-bottom: 3px;
}

span.subheadDetail {
  font-weight: 400;
}

a.siteLink {
  color: #0069aa;
}

span.tip {
  font-weight: 400;
  font-style: italic;
  color: #0069aa;
}

div.textField {
  padding-bottom: 2px;
}

input.textField {
  width: 225px;
}

div.fieldSpacer {
  margin-top: 2px;
}

td.fieldHeader {
  vertical-align: top;
  font-weight: 700;
  padding: 12px 0 3px;
}

td.fieldCell {
  vertical-align: top;
  padding: 0 15px 3px 0;
}

select.multiSelectIncludeBox {
  margin-bottom: 3px;
}

p.error,
span.error {
  color: red;
}

.validationError {
  display: block;
  color: red;
  font-weight: 700;
}

div.finalStepWarningsFooter {
  font-size: 10px;
  padding: 10px 0 5px 20px;
}

.itemTableHeader th {
  line-height: 3em;
  border: none !important;
}
table#impersonateList1_grdUsers,
table#impersonateList1_grdUsers tbody,
table#impersonateList1_grdUsers tr,
table#impersonateList1_grdUsers td {
  border: none !important;
}
table#impersonateList1_grdUsers td > a,
table#impersonateList1_grdUsers td {
  padding: 0.3em;
  font-size: 13px !important;
}

table#impersonateList1_grdUsers tr:nth-child(odd) {
  background: none !important;
}
table#impersonateList1_grdUsers tr:nth-child(even) {
  border-radius: 3px;
  background-color: #e7f0f3 !important;
}
table#impersonateList1_grdUsers input {
  margin-top: 3px;
}
#impersonateList1_LabelLocation,
#impersonateList1_LabelSearch {
  font-size: 12px;
}

table.itemTable,
td.itemTable,
td.itemTableHeader {
  vertical-align: top;
  background: #fff;
  border: 1px solid;
  padding: 5px;
}

td.itemTableHeader {
  background: #474747;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

td.itemTable-Thumbnail {
  text-align: center;
  height: 112px;
}

img.itemTableThumbnail {
  border: 1px solid #FFF;
}

td.itemTable-Id {
  font-size: 12px;
  color: #1b8b75;
}

td.itemTable-Description,
td.itemTable-Options {
  font-size: 11px;
  color: #1b8b75;
}

td.itemTable-Product {
  font-size: 11px;
  font-weight: 700;
  color: #1b8b75;
}

td.itemTable-Date {
  font-size: 12px;
  font-weight: 700;
  color: #1b8b75;
}

td.itemTable-Price {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: #1b8b75;
}

td.itemTableSummary {
  text-align: right;
  padding: 5px 5px 0 0;
}

td.itemTableSummaryRule {
  border-bottom: 1px solid #DA710b;
  line-height: 3px;
}

td.itemTableSummaryLine {
  font-size: 14px;
  font-weight: 700;
  color: #1b8b75;
  padding-top: 3px;
}

p.itemTableLabelWithIcon {
  text-indent: -23px;
  margin-left: 23px;
  color: #1b8b75;
}

td.dataListChoicesHeader,
td.dataListChoices {
  border-bottom: 1px solid #DA710b;
  padding: 0 15px 2px 0;
}

td.simpleTableHeader {
  font-weight: 700;
  padding: 0 15px 2px 0;
}

td.simpleTable {
  padding: 0 15px 2px 0;
}

div.MultiShippingButton {
  margin-bottom: 5px;
  height: 27px;
}

div.ShippingAddressBlock {
  margin-bottom: 20px;
  margin-top: 20px;
}

div.ShippingAddressBlockCart {
  margin: 10px;
}

table.listPreviewTable {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px;
}

tr.listPreviewTableHeader {
  background: #eee;
  font-size: 8px;
  font-weight: 700;
  padding: 0 15px 2px 0;
}

td.areaGraphicCartStep,
td.areaGraphicCartStepRollover {
  height: 15px;
  width: 20px;
  padding-top: 1px;
  padding-left: 5px;
}

td.areaGraphicCartStep div,
td.areaGraphicCartStepRollover div {
  background: url(Images/cart_iconx2.gif) no-repeat;
  height: 13px;
  width: 20px;
  margin-bottom: 3px;
}

td.areaGraphicCartStepRollover div {
  background-position: 0 -13px;
}

td.areaGraphicNextCartSeparatorLine {
  height: 15px;
  width: 50px;
}

td.areaGraphicCancelStep div,
td.areaGraphicCancelStepRollover div {
  background: url(Images/CartCancel.gif) no-repeat;
  height: 11px;
  width: 13px;
  margin-left: 4px;
  margin-bottom: 2px;
}

td.areaGraphicCancelStepRollover div {
  background-position: 0 -11px;
}

td.stepCart {
  padding-right: 2px;
}

td.stepCancel {
  padding-right: 3px;
}

div.CartButtons {
  float: right;
}

td.priceHint {
  padding-left: 100px;
  width: 100%;
}

div.scrollButton {
  width: 25px;
  height: 84px;
  float: left;
  margin-top: 3px;
}

div.scrollLeft {
  background-image: url(./Images/scrollLeft.gif);
  margin-right: 5px;
}

div.scrollRight {
  background-image: url(./Images/scrollRight.gif);
  margin-left: 5px;
}

div.scrollWrapper {
  width: 300px;
  height: 89px;
  float: left;
  overflow: hidden;
  border: 1px solid #b7b7b7;
  position: relative;
}

div.scrollList {
  width: 365px;
}

table.scrollData {
  position: relative;
  left: 0;
}

table.scrollData td {
  width: 50px;
  padding: 0 2px;
}

table.scrollData img {
  height: expression(this.scrollHeight>79?"80px": "auto");
  max-height: 80px;
}

div.AddressBookPopUpArea {
  width: 325px;
}

div.AddressTile {
  float: left;
  width: 175px;
  height: 115px;
  background-color: #F5F5F5;
  overflow: auto;
  border-color: #838282;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 7px;
}

div.AddressTileHeader {
  font-weight: 700;
  margin-bottom: 15px;
}

.scrollData {
  left: 850px;
  margin-left: 100px;
}

table#roiProdList_gridViewProducts th {
  background: #80a1b6;
}

table#roiProdList_gridViewProducts th a,
table#roiProdList_gridViewProducts th {
  color: #FFF;
  text-transform: none;
  text-decoration: none;
  font-weight: 700;
  padding: 2px 10px;
}

table#roiProdList_gridViewProducts,
table#roiProdList_gridViewProducts tbody,
table#roiProdList_gridViewProducts td {
  border: 1px solid #80a1b6;
  background: rgba(256,256,256,0.3);
}

table#roiProdList_gridViewProducts td input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 75%;
}

#roiProdList_pnlStaticProducts {
  padding-right: 15px;
}

td.categorySidebarFooter:after {
  content: "Powered by Perivan";
  color: #aaa;
  padding-left: 2px;
  font-size: 85%;
}

#LoginArea {
  display: block;
  padding: 0 30px;
}

#LoginArea .checkbox > label:nth-child(2) {
  padding-left: 5px;
}

td.basic,
td.categorySidebarFooter,
td.helpSidebarFooter,
td.stepControlsFooter,
td.formFilling-form {
  vertical-align: top;
}

td.navBarSeparator,
td.categorySidebarHeader,
td.categorySidebarHeader-l,
td.categorySidebarHeader-r,
div.poweredByPageflex,
td.catalogItemHeader-l,
td.catalogItemHeader-r,
td.catalogFolderHeader-l,
td.catalogFolderHeader-r,
td.catalogItem-l,
td.catalogItem-r,
td.catalogFolder-l,
td.catalogFolder-r,
td.catalogItemRule-l,
td.catalogItemRule-r,
td.catalogFolderRule-l,
td.catalogItemHeader,
td.catalogFolderHeader,
td.catalogItemRule,
td.catalogFolderRule-r,
td.catalogFolderRule,
#LoginArea > table: first-child > tbody: first-child > tr: first-child > td: first-child > table: first-child {
  display: none;
}

a.areaTitleLinkRollover,
a.viewSwitcher:hover {
  color: #7B235D;
}

#InputFields_InputFields,
#ReadOnlyFields_InputFields,
td.helpTopicLevel2 {
  padding-left: 20px;
}

span.stepLabel,
a.helpTopicLevel1,
div.loginSubhead,
div.finalStepWarningsHeader,
td.dataListChoicesHeader {
  font-weight: 700;
}

td.categorySidebar-l,
td.helpSidebar-l,
td.stepControls-l,
td.categorySidebar-r,
td.helpSidebar-r,
td.stepControls-r {
  background: #333;
  padding-left: 0;
}

td.categorySidebarFooter-l,
td.helpSidebarFooter-l,
td.stepControlsFooter-l,
td.categorySidebarFooter-r,
td.helpSidebarFooter-r,
td.stepControlsFooter-r {
  background: #333;
  height: 24px;
  padding-left: 0;
}

img.categorySidebarMarginRight,
img.helpSidebarMarginRight,
img.stepControlsMarginRight {
  width: 15px;
}

a.stepControlLabelSelected,
a.stepControlLabel:hover,
a.stepControlLabelSelected:hover,
div.warningAreaMessageWarning p,
div.warningAreaMessageInfo {
  color: #fff;
}
.categorySidebarSearch > input {
  display: none;
}
