.event-tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  margin-left: -$panel-gutter-size / 2;
  margin-right: -$panel-gutter-size / 2;
}

.event-tile {
  margin-left: $panel-gutter-size / 2;
  margin-right: $panel-gutter-size / 2;
  margin-top: $panel-gutter-size;
  display: flex;
  flex-grow: 1;
  min-width: 300px;
  height: 300px;

  background-color: $c-brand-pink;
  padding: $tile-padding;
}
