# Get from dev console
# https://developer.starlingbank.com/personal/list
STARLING_PAT=

# Get via the /api/v2/accounts endpoint
# https://developer.starlingbank.com/docs
STARLING_ACCOUNT_UID=
STARLING_CATEGORY_UID=
