---
---
@import 'modules/variables';

// SCSS shared by all sites
@import 'theme/main';

// Specific pages
@import 'partials/contact-us';
@import 'partials/our-people';

i {
  font-family: $font-family-serif;
  font-size: 0.9em;
}
