<% provide :title, @category.name %>
<section class="row">
  <h1>
    <%= @category.name %>
  </h1>

  <% @tree.values.each do |tree| %>
    <%= render 'navigation_tree',
      categories: tree %>
  <% end %>

  <% @category.children.each do |child| %>
    <div>
      <%= link_to child.name, child %>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <%= link_to 'Edit category', edit_category_path(@category),
      class: 'button' %>
  <% end %>
</section>
