#!/bin/bash
#
# This is our configuration file for direnv, a tool that will automatically
# configure your environment for you when you `cd` into a directory. It sets up
# the environment variables our tooling and our code expects, and makes the
# scripts in `bin` more convenient to run by adding them to $PATH.
#
# For more information on direnv see its documentation: https://direnv.net/
#

# Default non-secret environment variables
# If you wish to use different values set them in `./overrides.env`
export SECRET_KEY_BASE="rB8dXtZ%pLsFtYAdevgGIjiRHGs"
export DATA_PATH="tmp/data"
export TEST_DATA_PATH="tmp/data"

# Load any overrides you have set for your specific environment
dotenv_if_exists ./overrides.env

# Add the bin directory to the path so our scripts can be run more conveniently
PATH_add bin

# Ensure everyone is using the right direnv version
direnv_version 2
