<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello BlockParty!</title>
  </head>

  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <button id="play-pause" type="button" class="btn btn-default btn-lg noselect">
        <span class="glyphicon glyphicon-play" aria-hidden="true">START</span>
      </button>

      <span class="tempo-container">
        <label for="tempo-input" >Tempo </label>
        <input id="tempo-input" type="number" disabled>
        <span id="decrease-tempo">DOWN</span>
        <span id="increase-tempo">UP</span>
      </span>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/app.js") %>"></script>
  </body>
</html>
