{
	email caddy@lpil.uk
	order cgi before respond
}

(require_password) {
	basicauth {
		# You know this password, Louis.
		lpil $2y$10$Pw049gI7SsUdyxSjvBWrGePeRlRIYoRbG4Bsmnc7TB7bM6Jzb3Fda
		al $2y$10$YqPhiQ2GJYau8g2sMh3k9uAqh1DD6FX.SgLn.Jl3FDHrKoljFl3Gy

		# Add more here as needed...
		# htpasswd -nbBC 10 USER PASSWORD	
	}
}

http://*.lpil.uk {
	log

	# Redirect all HTTP to HTTPS (using the proxy's header)
	@insecure header x-forwarded-proto http
	redir @insecure https://{host}{uri} #permanent

	@status host status.lpil.uk
	handle @status {
		reverse_proxy localhost:3002 # gatus
	}

	@hits host hits.lpil.uk
	handle @hits {
		reverse_proxy localhost:3003 # goatcounter
	}

	@public host public.lpil.uk
	handle @public {
		root * /srv/web-public
		file_server {
			browse
		}
	}

	@try-gleam host try-gleam.lpil.uk
	handle @try-gleam {
		root * /srv/web-public/try-gleam
		file_server
	}

	@app host private.lpil.uk
	handle @app {
		import require_password
		root * /srv/web-private

		handle_path /file-upload {
			cgi * /usr/lib/cgi-bin/file-upload {
				env UPLOAD_DEST_DIR=/srv/web-uploads
			}
		}

		file_server {
			browse
		}
	}
}

http://cubone, http://localhost {
	respond "Hello, Joe!"
}
