[Unit]
Description=Gatus
Documentation=https://github.com/TwiN/gatus/
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=gatus
Group=gatus
Restart=on-failure
ExecStart=/usr/local/bin/gatus

TimeoutStopSec=5s
PrivateTmp=true
ProtectSystem=full

Environment="GATUS_CONFIG_PATH=/etc/gatus/config.yml"

[Install]
WantedBy=multi-user.target
