{
	order cgi before respond
	https_port 4443 # tailscale provides HTTPS on 443
}

(cors) {
	header {
		access-control-allow-origin {args[0]}
	}
}

(public) {
	# Print all information about the request
	handle /debug/* {
		cgi * /usr/lib/cgi-bin/debug {
			script_name /debug/
		}
	}

	# A hit counter!
	handle /counter/* {
		import cors *
		cgi * /usr/lib/cgi-bin/counter-increment {
			script_name /counter/
		}
	}

	# Read the counters
	handle /counters {
		cgi * /usr/lib/cgi-bin/counter-read
	}

	# Read the counters
	handle /file-upload {
		basicauth {
			louis $2y$10$Pw049gI7SsUdyxSjvBWrGePeRlRIYoRbG4Bsmnc7TB7bM6Jzb3Fda
			# Add more here as needed...
			# htpasswd -nbBC 10 USER PASSWORD	
		}
		cgi * /usr/lib/cgi-bin/file-upload {
			env UPLOAD_DEST_DIR=/srv/web-uploads
		}
	}

	# Serve static files, for sharing with folks
	handle_path /files/* {
		root * /srv/web-public
		file_server {
			browse
		}
	}

	# Gatus status monitor
	# TODO: mount this at /gatus/ https://github.com/TwiN/gatus/issues/88
	handle {
		reverse_proxy localhost:3002
	}
}

# Accessible from anywhere
http://cubone.little-grue.ts.net {
	import public
}

# Accessible from tailscale network only
http://cubone, http://localhost {
	handle_path /syncthing/ {
		reverse_proxy http://localhost:8384 {
			header_up Host {upstream_hostport}
		}
	}

	import public
}
