{
	order cgi before respond
}

# Accessible from anywhere
http://*/hello/* {
	cgi * /usr/lib/cgi-bin/hello {
		script_name /hello
	}
}

# Accessible from localhost only
http://localhost {
	respond "Hello, Joe!\n"
}
