html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.page-content {
  @include outer-container;
  padding: 0.3em;
  // For moving footer to bottm
  min-height: 100%;
  margin-bottom: -$footer-height - $footer-margin-top;
  @include media($break-mid) {
    margin-bottom: -$footer-height--break-mid - $footer-margin-top;
  }
  @include media($break-small) {
    padding: 0;
  }
}
.page-content:after {
  height: $footer-height;
  @include media($break-mid) {
    height: $footer-height--break-mid;
  }
  content: "";
  display: block;
}
