.footer {
  height: $footer-height;
  @include media($break-mid) {
    height: $footer-height--break-mid;
  }
  background: $col-text;
  margin-top: $footer-margin-top;
  .footer__nav, .footer__details {
    @include outer-container;
    padding: 0.3em;
    color: #fff;
  }
  .footer__nav {
    display: block;
    h3 {
      color: #fff;
      display: inline-block;
    }
    aside {
      @include span-columns(3);
      ul {
        color: #fff;
        padding: 0;
        margin-top: 0;
        display: inline-block;
        a {
          color: #fff;
        }
      }
    }
    @include media($break-mid) {
      display: none;
    }
  }
  hr {
    height: 1px;
    border: none;
    border-top: 3px dotted #fff;
  }
  .footer__details {
    text-align: center;
    p {
      margin: 0;
      color: #fff;
      display: inline-block;
      @include media($break-mid) {
        display: block;
      }
    }
  }
}
