.header {
  margin-bottom: 1em;

  .header__banner {
    position: relative;
    padding: 2em 0 1em 0;
    // Logo
    img {
      max-width: 48%;
      display: inline-block;
    }
    // Contact text to right of logo
    aside {
      position: absolute;
      top: calc(50% - 0.6em);
      right: 0;
      display: table-cell;
      vertical-align: middle;
      max-width: 48%;
      text-align: center;
      font-size: 1.2em;
      span {
        white-space: nowrap;
      }
    }
    @include media($break-mid) {
      img {
        max-width: 90%;
      }
      aside {
        max-width: 100%;
        text-align: center;
        position: initial;
        display: block;
        padding: 0.5em 0 0 0;
      }
      text-align: center;
    }
  }
}

// The drop down nav for desktops
.header__nav {
  @include colored-block;
  @include outer-container;
  position: relative;
  padding: 0 1.2em;
  li {
    line-height: 2.5em;
    padding-right: 1.5em;
    font-size: 0.93em;
    white-space: nowrap;
    cursor: pointer;
  }
  > ul > li:last-child {
    position: absolute;
    right: 0;
    top: 0;
  }
  @include media($break-mid) {
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
    }
  }
  // Drop down
  li:focus > .header__nav__dropdown,
  li:hover > .header__nav__dropdown {
    display: block;
    padding: 0.3em 1em;
    position: absolute;
    top: 100%;
    border-radius: 0 0 $corner-radius $corner-radius;
  }
  .header__nav__dropdown {
    display: none;
    background: $col-brand-grey-dk;
      padding: 0;
      margin: 0;
    a, li {
      display: block;
      margin: 0;
      line-height: 2.0em;
    }
  }
}
