.index__mural {
  background-image: url('/images/index-mural.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 47% auto;
  min-height: 240px;
  overflow: hidden;
  position: relative;

  @include media($break-small) {
    background-position: 50% 0;
    background-size: auto 100%;
    height: 500px;
  }

  .index__mural__credit {
    font-family: $font-family-serif;
    font-size: .9em;
    position: absolute;
    right: .3em;
    top: .3em;

    @include media($break-small) {
      color: #555;
      top: calc(100% - 1.1em);
    }
  }

  aside {
    padding: .8em 1em .4em;
    position: absolute;
    top: 20%;
    width: 50%;

    @include media($break-small) {
      background-color: $col-colored-block;
      background-color: rgba($col-colored-block, .9);
      left: 0;
      top: 60%;
      width: 100%;
    }

    section {
      filter: Alpha(opacity=0);
      opacity: 0;
      position: absolute;
      transition: opacity 1s ease-in;

      &:first-of-type {
        filter: Alpha(opacity=100);
        opacity: 1;
        position: static;
        transition: opacity 1s ease-in;
      }
    }
  }
}

.index__mural__h {
  @extend h1;
}
