.index__mural {
  background: none;
  background-image: url('/images/index-mural.png');
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 360px;
  overflow: hidden;
  padding: 0;
  position: relative;

  @include media($break-small) {
    background-size: auto 100%;
    height: 500px;
  }

  aside {
    background-color: $col-colored-block;
    background-color: rgba($col-colored-block, .9);
    bottom: 0;
    min-height: 100%;
    padding: .8em 1.3em .4em;
    position: absolute;
    width: floor(100% - golden-ratio(100%, -1));

    @include media($break-mid) {
      border-radius: 0;
      min-height: 110px;
      width: 100%;
    }
  }

  .index__mural__credit {
    color: #555;
    font-family: $font-family-serif;
    font-size: .9em;
    position: absolute;
    right: .3em;
    text-shadow: 1px 1px #fff;
    top: .3em;
  }
}

.index__mural__h {
  @extend h1;
}
