.index__mural {
  background: none;
  background-image: url('/images/index-mural.png');
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 360px;
  overflow: hidden;
  padding: 0;
  position: relative;

  @include media($break-small) {
    background-size: auto 100%;
    height: 500px;
  }

  aside {
    background-color: $col-colored-block;
    background-color: rgba($col-colored-block, .9);
    bottom: 0;
    padding: .8em 1em .4em;
    position: absolute;
    width: 100%;

    @include media($break-small) {
      min-height: 120px;
    }
  }

  .index__mural__credit {
    color: #555;
    font-family: $font-family-serif;
    font-size: .9em;
    position: absolute;
    right: .3em;
    top: .3em;

    @include media($break-small) {
      top: calc(100% - 1em);
    }
  }
}

.index__mural__h {
  @extend h1;
}
