.page__title {
  @include dotted-border(bottom);
  padding-bottom: 0.2em;
  @include media($break-mid) {
    @include colored-block;
    border: none;
    text-align: center;
    padding: 0.3em;
  }
}
.page__content {
  @include clearfix;
  padding-bottom: 1em;
  > ul, > p {
    max-width: 70%;
  }
  > p:first-of-type {
    font-weight: bold;
    color: $col-brand-plum;
  }
}
