.partners {
  > * {
    @include omega(2);

    margin-bottom: 3em;
  }

  img {
    @include span-columns(3);

    @include media($break-mid) {
      @include span-columns(5);
    }

    @include media($break-small) {
      @include span-columns(4);
      @include shift(1);
    }
  }

  aside {
    @include span-columns(9);
    padding-top: 2em;

    @include media($break-mid) {
      @include span-columns(7);
    }

    @include media($break-small) {
      @include span-columns(6);

      padding-top: 0;
    }

    h3 {
      margin-top: 0;
    }
  }
}
