$fade-intro-start-opacity: 0.35;
@include keyframes(fade-intro) {
  from {
    opacity: $fade-intro-start-opacity;
  }
  to {
    opacity: 1;
  }
}

.site-header {
  @include outer-container;

  padding: 2em 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;

  @include media($mobile) {
    padding: 1.5em 1em 1em 1em;
  }

  a.site-header__home {
    color: $text-colour;
    font-size: 1.3em;
    font-weight: bold;

    // Fade in 'logo' text on page load
    span {
      // reset for IE in the IE fixes include
      opacity: $fade-intro-start-opacity;
      @include animation(fade-intro, ease-in, 1);
      @include animation-fill-mode(forwards);
      @include animation-duration(1.0s);
    }
    $step:  0.025s;
    $delay: 0.10s;
    span:nth-child(1)  { @include animation-delay($delay +  1 * $step); }
    span:nth-child(2)  { @include animation-delay($delay +  2 * $step); }
    span:nth-child(3)  { @include animation-delay($delay +  3 * $step); }
    span:nth-child(4)  { @include animation-delay($delay +  4 * $step); }
    span:nth-child(5)  { @include animation-delay($delay +  5 * $step); }
    span:nth-child(6)  { @include animation-delay($delay +  6 * $step); }
    span:nth-child(7)  { @include animation-delay($delay +  7 * $step); }
    span:nth-child(8)  { @include animation-delay($delay +  8 * $step); }
    span:nth-child(9)  { @include animation-delay($delay +  9 * $step); }
    span:nth-child(10) { @include animation-delay($delay + 10 * $step); }
    span:nth-child(11) { @include animation-delay($delay + 11 * $step); }
    span:nth-child(12) { @include animation-delay($delay + 12 * $step); }
    span:nth-child(13) { @include animation-delay($delay + 13 * $step); }
    span:nth-child(14) { @include animation-delay($delay + 14 * $step); }
    span:nth-child(15) { @include animation-delay($delay + 15 * $step); }
    span:nth-child(16) { @include animation-delay($delay + 16 * $step); }
    span:nth-child(17) { @include animation-delay($delay + 17 * $step); }
    span:nth-child(18) { @include animation-delay($delay + 18 * $step); }

    i {
      font-size: 0.01em;
    }
  }
  a.site-header__home:hover {
    text-decoration: none;
  }

  .site-header__nav {
    text-align: right;
  }

  .site-header__nav a {
    margin: 0 0 0 1em;
    display: inline-block;

    @include media($mobile) {
      margin: 0;
      display: block;
      line-height: 2em;
    }
  }

  .site-header__home,
  .site-header__nav {
    @include span-columns(6);

    @include media($mobile) {
      @include span-columns(6);
      text-align: center;
      margin: 0.5em 0;
    }
  }
}
