pre {
  background: #f0f0f0;
  border-radius: 2px;
  margin: .5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 45em;
  overflow: auto;
  padding: .7em 1em;
}

li code,
p code {
  background: #f0f0f0;
  padding: .1em .2em;
}

.highlight {
  // Comment
  .c { color: #998; font-style: italic; }
  // Error
  .err { background-color: #e3d2d2; color: #a61717; }
  // Keyword
  .k { font-weight: bold; }
  // Operator
  // .o { font-weight: bold; }
  // Comment.Multiline
  .cm { color: #998; font-style: italic; }
  // Comment.Preproc
  .cp { color: #999; font-weight: bold; }
  // Comment.Single
  .c1 { color: #998; font-style: italic; }
  // Comment.Special
  .cs { color: #999; font-style: italic; font-weight: bold; }
  // Generic.Deleted
  .gd { background-color: #fdd; color: #000; }
  // Generic.Deleted.Specific
  .gd .x { background-color: #faa; color: #000; }
  // Generic.Emph
  .ge { font-style: italic; }
  // Generic.Error
  .gr { color: #a00; }
  // Generic.Heading
  .gh { color: #999; }
  // Generic.Inserted
  .gi { background-color: #dfd; color: #000; }
  // Generic.Inserted.Specific
  .gi .x { background-color: #afa; color: #000; }
  // Generic.Output
  .go { color: #888; }
  // Generic.Prompt
  .gp { color: #555; }
  // Generic.Strong
  .gs { font-weight: bold; }
  // Generic.Subheading
  .gu { color: #aaa; }
  // Generic.Traceback
  .gt { color: #a00; }
  // Keyword.Constant
  .kc { font-weight: bold; }
  // Keyword.Declaration
  .kd { font-weight: bold; }
  // Keyword.Pseudo
  .kp { font-weight: bold; }
  // Keyword.Reserved
  .kr { font-weight: bold; }
  // Keyword.Type
  .kt { color: #458; font-weight: bold; }
  // Literal.Number
  .m { color: #099; }
  // Literal.String
  .s { color: #d14; }
  // Name.Attribute
  .na { color: #008080; }
  // Name.Builtin
  .nb { color: #0086b3; }
  // Name.Class
  .nc { color: #458; font-weight: bold; }
  // Name.Constant
  .no { color: #008080; }
  // Name.Entity
  .ni { color: #800080; }
  // Name.Exception
  .ne { color: #900; font-weight: bold; }
  // Name.Function
  .nf { color: #900; font-weight: bold; }
  // Name.Namespace
  .nn { color: #555; }
  // Name.Tag
  .nt { color: #000080; }
  // Name.Variable
  .nv { color: #008080; }
  // Operator.Word
  .ow { font-weight: bold; }
  // Text.Whitespace
  .w { color: #bbb; }
  // Literal.Number.Float
  .mf { color: #099; }
  // Literal.Number.Hex
  .mh { color: #099; }
  // Literal.Number.Integer
  .mi { color: #099; }
  // Literal.Number.Oct
  .mo { color: #099; }
  // Literal.String.Backtick
  .sb { color: #d14; }
  // Literal.String.Char
  .sc { color: #d14; }
  // Literal.String.Doc
  .sd { color: #d14; }
  // Literal.String.Double
  .s2 { color: #d14; }
  // Literal.String.Escape
  .se { color: #d14; }
  // Literal.String.Heredoc
  .sh { color: #d14; }
  // Literal.String.Interpol
  .si { color: #d14; }
  // Literal.String.Other
  .sx { color: #d14; }
  // Literal.String.Regex
  .sr { color: #009926; }
  // Literal.String.Single
  .s1 { color: #d14; }
  // Literal.String.Symbol
  .ss { color: #990073; }
  // Name.Builtin.Pseudo
  .bp { color: #999; }
  // Name.Variable.Class
  .vc { color: #008080; }
  // Name.Variable.Global
  .vg { color: #008080; }
  // Name.Variable.Instance
  .vi { color: #008080; }
  // Literal.Number.Integer.Long
  .il { color: #099; }
}
