* {
  color: $col-text;
}
html {
  font-family: $font-family;
  font-size: 0.90em;
}
a, p, li {
  line-height: 1.6em;
}
p {
  margin: 0.5em 0 1em 0;
}
a {
  color: $col-link;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: $col-link-hover;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $font-family-serif;
  margin: 0.5em 0 0.2em 0;
  // Fix the character spacing for headings
  text-rendering: optimizeLegibility;
}
h3 {
  font-size: 1.3em;
}
h1 {
  font-size: 3em;
}
