[Unit]
Description=Caddy reverse proxy
After=local-fs.target

[Container]
Image=docker.io/caddy:2.8.4
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Network=caddy.network

Volume=/mnt/data/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,z
Volume=/mnt/data/caddy/data:/data:rw,z
Volume=/mnt/data/caddy/config:/config:rw,z

[Install]
WantedBy=multi-user.target default.target
