(cloudflare-tunnel) {
	# Redirect all HTTP to HTTPS (using the tunnel's header).
	# Cloudflare handles TLS via its tunnel so Caddy doesn't need to, but we
	# still want to redirect HTTP to HTTPS here.
	@insecure header x-forwarded-proto http
	redir @insecure https://{host}{uri}
}

http://caddy.lpil.uk {
	import cloudflare-tunnel
	log
	templates
	respond "{{ .Req }}"
}

slowbro.lpil.uk {
	tls internal

	handle /zigbee-record/* {
		file_server {
			browse
			root /zigbee-record
			pass_thru
		}
	}

	handle / {
		header "content-type" "text/html"
		respond <<HTML
        <!doctype html>
        <html>
        <head>
          <title>slowbro</title>
        </head>
        <body>
          <ul>
            <li><a href="https://immich.slowbro.lpil.uk">Immich</a>
            <li><a href="https://syncthing.slowbro.lpil.uk">Syncthing</a>
            <li><a href="https://zigbee2mqtt.slowbro.lpil.uk">Zigbee2mqtt</a>
            <li><a href="https://mpd.slowbro.lpil.uk">mpd stream</a>
          </ul>
        </body>
        </html>
        HTML
	}

	handle {
		respond <<TXT
		There's nothing here...
		TXT 404
	}
}

immich.slowbro.lpil.uk {
	tls internal
	reverse_proxy localhost:8001
}

syncthing.slowbro.lpil.uk {
	tls internal
	reverse_proxy localhost:8384
}

zigbee2mqtt.slowbro.lpil.uk {
	tls internal
	reverse_proxy localhost:8080
}

mpd.slowbro.lpil.uk {
	tls internal
	reverse_proxy localhost:8002
}
