[Unit]
Description=Gleam Developer Survey container
After=local-fs.target

[Container]
Image=ghcr.io/gleam-lang/developer-survey:1.13.0

PublishPort=8000:8000
Network=caddy.network

Volume=/mnt/data/gleam-developer-survey:/app/data:rw,z

[Install]
WantedBy=multi-user.target default.target
