[Unit]
Description=My One-Shot Task
After=systemd-gleam-developer-survey.service

[Service]
Type=oneshot
ExecStart=podman network connect systemd-caddy systemd-gleam-developer-survey
