[Unit]
Description=Valkey (for Immich)
After=local-fs.target

[Container]
Image=docker.io/valkey/valkey:8-bookworm
Network=immich.network

[Install]
WantedBy=multi-user.target default.target
