[Unit]
Description=PostgreSQL (for Immich)
After=local-fs.target

[Container]
# https://github.com/immich-app/base-images/pkgs/container/postgres
Image=ghcr.io/immich-app/postgres:15-vectorchord0.4.3-pgvectors0.3.0
Network=immich.network

Volume=/mnt/data/immich/postgresql:/var/lib/postgresql/data:rw,z

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_DB=immich

[Install]
WantedBy=multi-user.target default.target
