.categoryPath {
  color: #ca690a;
  padding-bottom: 15px;
  padding-left: 24px;

  a {
    color: #7b235d;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
  }
}
