.loginExistingUsers {
  padding-right: 20px;
  vertical-align: top;
}

.loginNewUsers {
  border-left: 1px solid #da710b;
  padding-left: 20px;
  vertical-align: top;
}

.loginSubhead {
  font-weight: bold;
}

