<header class="site-header">
  <% link_to '/index.html', class: 'site-header__home' do %>
    <h1>
      lpil: Louis<i> </i>Pilfold
    </h1>
  <% end %>
  <nav class="site-header__nav">
    <%= link_to 'About', 'about.html' %>
  </nav>
</header>
