<header class="site-header">
  <a class="site-header__home" href="{{ site.url }}/">
    <span>l</span><span>p</span><span>i</span><span>l</span><span>:</span>
    <span>L</span><span>o</span><span>u</span><span>i</span><span>s<i> </i></span>
    <span>P</span><span>i</span><span>l</span><span>f</span><span>o</span><span>l</span><span>d</span>
  </a>

  <ul class="site-header__nav">
    <li>
      <a href="{{ site.url }}">Blog</a>
    </li>
    <li>
      <a href="{{ site.url }}/about">About</a>
    </li>
  </ul>
</header>
