<nav class="header__nav--mobile">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the site…</option>
    <optgroup label="{{ site.title }}">
      <option value="{{ site.url }}">Home</option>
      <option value="{{ site.url }}/contact-us.html">Contact us</option>
{% for section in nav-sections %}
    <optgroup label="{{ section }}">
  {% for page in site.pages %}
    {% if page.nav-section == section %}
    <option value="{{ site.url }}{{ page.url }}">{{ page.title }}</option>
    {% endif %}
  {% endfor %}
    </optgroup>
{% endfor %}
  </select>
</nav>
