<nav class="header__nav">
  <ul>
    <li>
      <a href="{{ site.url }}">Home</a>
    </li>
    <li>
      <a href="{{ site.url }}/history.html">History</a>
    </li>
    <li>
      <a href="{{ site.url }}/management-and-administration.html">
        Management &amp; Administration</a>
    </li>
    <li>
      <a href="{{ site.url }}/policies-and-the-environment.html">
        Policies &amp; The Environment</a>
    </li>
    <li>
      <a href="{{ site.url }}/contact-us.html">Contact Us</a>
    </li>
  </ul>
</nav>
