<nav class="footer__nav">
  <div>
    <a href="http://www.perivanfinancial.co.uk" target="_blank">
      Perivan Financial
    </a>
    <a href="http://www.perivansolutions.co.uk" target="_blank">
      Perivan Solutions
    </a>
    <a href="http://www.virtualboardroom.co.uk" target="_blank">
      Virtual Boardroom
    </a>
  </div>
  <div>
    <a href="http://www.perivandesign.co.uk" target="_blank">
      Perivan Design
    </a>
    <a href="http://www.electrum.co.uk" target="_blank">
      Electrum Multimedia
    </a>
    <a href="http://www.dotapprove.co.uk" target="_blank">
      DotApprove
    </a>
  </div>
  <a href="http://www.perivanfinancialpod.co.uk" target="_blank">
    Perivan Financial Print On Demand
  </a>
</nav>
