<nav class="footer__nav">
{% assign nav-sections = site.nav-sections | sort:"name" %}
{% for section in nav-sections %}
<aside>
  <ul>
    <li><h3>{{ section }}</h3></li>{% for page in site.pages %}{% if page.nav-section == section %}
    <li>
    <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
    </li>{% endif %}{% endfor %}
  </ul>
</aside>
{% endfor %}
<aside>
  <ul>
    <li><h3>Print On Demand</h3></li>
    <li><a href="{{ site.url }}/enquire-and-order.html" target="_blank">
      Enquire and Order</a></li>
  </ul>
</aside>
</nav>
