{% unless site.development %}
<script type="text/javascript">
var cdJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + cdJsHost + "analytics.clickdimensions.com/ts.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var cdAnalytics = new clickdimensions.Analytics('analytics.clickdimensions.com');
cdAnalytics.setAccountKey('ack2MI7VP4USeLkX9JQm3w');
cdAnalytics.setDomain('perivanfinancial.co.uk');
cdAnalytics.trackPage();
</script>
<script type="text/javascript" src="http://mialbj6.com/js/29321.js"></script>
<noscript><img src="http://mialbj6.com/29321.png" style="display:none;" /></noscript>{% endunless %}
