hr {
  border: 0;
  border-top: 1px solid #ddd;
  color: #ddd;
  margin-bottom: 1.7em;
  margin-top: 1.7em;
  max-width: 20em;
  padding: 0;
  text-align: center;
  width: 80%;
}

hr:after {
  background: #fff;
  content: 'lpil';
  cursor: default;
  display: inline-block;
  font-size: 9px;
  padding: 0 .25em;
  position: relative;
  top: -1.7em;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul.fa-ul {
  margin-left: 0;
}

.no-wrap {
  white-space: nowrap;
}
