.posts {
  margin-bottom: 2em;
  padding: 0;

  li {
    margin: .1em;
  }
}

.posts__date {
  display: none;

  @media (min-width: $max-page-width) {
    display: inline;
    float: right;
  }
}

.posts__feed {
  color: #888;
  float: right;
  font-size: .9em;
  padding: 0 .4em;
}
