.nav--mobile {
  display: none;
  @include media($break-mid) {
    width: 100%;
    display: inherit;
    select {
      display: block;
      margin-left: auto;
      margin-right: auto;
      min-width: 75%;
      border-radius: 0;
      height: 2em;
      border: 1px solid #555;
    }
  }
}
.footer {
  .nav--mobile {
    padding: 1em 0 0.5em 0;
  }
}
