//
// Variables
//

// Colors
$white: #fff;
$black: #111;
$c-brand-yellow: #f8ee5c;
$c-brand-blue: #a2dbe8;
$c-brand-green: #a2cd8d;
$c-brand-pink: #f6adcd;
$c-brand-orange: #fbb35b;

// Media queries
$small-screen: 608px;
$medium-screen: 768px;
$large-screen: 1008px;

// Sizes
$panel-gutter-size: 20px;

$tile-padding: 40px 20px;
