<% provide :title, "User #{@user.email}" %>
<table>
  <tr>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <% if @user.uploader %>
    <th>Uploader</th>
    <% end %>
    <% if @user.reporter %>
    <th>Reporter</th>
    <% end %>
  </tr>
  <tr>
    <td>
      <%= @user.email %>
    </td>
    <td>
      <%= @user.first_name %>
    </td>
    <td>
      <%= @user.last_name %>
    </td>
    <% if @user.uploader %>
    <td>
      True
    </td>
    <% end %>
    <% if @user.reporter %>
    <td>
      True
    </td>
    <% end %>
  </tr>
</table>
