@mixin colored-block() {
  padding: 0.5em 1.5em;
  background: $col-brand-red;
  border-radius: $corner-radius; 
  color: #ffffff;
  *, a:hover { color: #ffffff; }
  @include media($break-small) {
    border-radius: 0;
    width: calc(100% + #{2 * $page-content-horizontal-padding});
    position: relative;
    right: $page-content-horizontal-padding;
  }
}
