// Brand colours
$col-brand-red: #b1093d;
$col-brand-plum: #511b35;
$col-brand-grey-dk: #978a80;
$col-brand-cream: #c7b996;
$col-brand-flesh: #d5bdae;
$col-brand-blue-lt: #b2bfbf;
$col-brand-green-lt: #abbab0;
$col-brand-mint: #b2bca2;
$col-brand-grey-lt: #bfbab0;

$col-text: #111111;
$col-link: $col-brand-red;
$col-link-hover: $col-brand-plum;

$font-family: sans-serif;
$font-family-serif: Georgia, Times, "Times New Roman", serif;

// Keeping the footer at the bottom of the page
$footer-margin-top: 10px;
$footer-height: 270px;
$footer-height--break-mid: 200px;

// Border for the page content
$page-content-horizontal-padding: 12px;

$corner-radius: 4px;
