<nav class="footer__nav">
<aside>
  <ul>
    <li>
      <a href="http://www.perivanfinancial.co.uk" target="_blank">
        Perivan Financial
      </a>
    </li>
    <li>
      <a href="http://www.perivansolutions.co.uk" target="_blank">
        Perivan Solutions
      </a>
    </li>
    <li>
      <a href="http://www.virtualboardroom.co.uk" target="_blank">
        Virtual Boardroom
      </a>
    </li>
    <li>
      <a href="http://www.electrum.co.uk" target="_blank">
        Electrum Multimedia
      </a>
    </li>
  </ul>
</aside>
<aside>
  <ul>
    <li>
      <a href="http://www.perivandesign.co.uk" target="_blank">
        Perivan Design
      </a>
    </li>
    <li>
      <a href="http://www.dotapprove.co.uk" target="_blank">
        DotApprove
      </a>
    </li>
    <li>
      <a href="http://www.perivanfinancialpod.co.uk" target="_blank">
        Print On Demand
      </a>
    </li>
  </ul>
</aside>
<aside>
  <ul>
    <li>
      <a href="{{ site.url }}/management-and-administration.html">
        Management &amp; Administration
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/policies-and-the-environment.html">
        Policies &amp; The Environment
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/history.html">
        History
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/contact-us.html">
        Contact Us
      </a>
    </li>
  </ul>
</aside>
</nav>
