// Separate cat from catalog
.categorySidebarMarginRight {
  width: 15px;
}

// Separate help from content
.helpSidebarMarginRight {
  width: 15px;
}

// Separate step from step area
.stepControlsMarginRight {
  width: 15px;
}
