<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="main.js"></script>
    <title>Angular.</title>

    <style type="text/css" media="screen">
.active {
  font-weight: bold;
}
    </style>
  </head>
  <body ng-controller="MainCtrl">
    <div>
      <h1>Categories</h1>
      <ul>
        <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
          <a href="#" ng-click="setCurrentCategory(category)">
            {{ category.name }}
          </a>
        </li>
        <li>
          <a href="#" ng-click="setCurrentCategory(null)">n/a</a>
        </li>
      </ul>
    </div>

    <div>
      <h1>Bookmarks</h1>
      <ul>
        <li ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}" ng-class="{'active':isSelectedBookmark(bookmark)}">
          <button ng-click="setEditedBookmark(bookmark); startEditing()" type="button">Edit</button>
          <button ng-click="deleteBookmark(bookmark)" type="button">Delete</button>
          <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
        </li>
      </ul>
      <!-- Creating -->
      <div ng-if="shouldShowCreating()">
        <button type="button" ng-click="startCreating()">
          Create Bookmark
        </button>
        <!-- Create bookmark form -->
        <form ng-show="isCreating" ng-submit="createBookmark(newBookmark)">
          <p>
            <label>Bookmark Title</label>
            <input type="text" ng-model="newBookmark.title">
          </p>
          <p>
            <label>Bookmark URL</label>
            <input type="text" ng-model="newBookmark.url">
          </p>
          <p>
            <button type="submit">Submit</button>
            <button type="button" ng-click="cancelCreating()">Cancel</button>
          </p>
        </form>
      </div>

      <!-- Editing -->
      <div ng-show="shouldShowEditing()">
        <h4>Editing {{ editedBookmark.title }}</h4>

        <form ng-submit="updateBookmark(editedBookmark)">
          <p>
            <label>Bookmark Title</label>
            <input type="text" ng-model="editedBookmark.title">
          </p>
          <p>
            <label>Bookmark URL</label>
            <input type="text" ng-model="editedBookmark.url">
          </p>
          <p>
            <button type="submit">Submit</button>
            <button type="button" ng-click="cancelEditing()">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
