//Vars
$off-white: rgb(245,244,244);
$grey: gray;

$num-steps: 16;
$num-tracks: 12;

$line-width: 1px;

//Globals
* {
  box-sizing: border-box;
  font-family: Helvetica;
  text-transform: uppercase;
}

//Styles
body {
  background: $off-white;
  margin: 0;
}

//layout
.sequencer {
  display: flex;
}
.meta {
  width: 20%;
  min-width: 20px;
}
.grid {
  flex-grow: 1;
}



//grid
.row {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    border-bottom:  $line-width dashed $grey;
  }
}
.cell {
  display: inline-block;
  width: calc(100%/#{$num-steps} - #{$line-width});
  max-width: calc(100vh/#{$num-tracks} - #{$line-width});
  transition: background-color 0.2s;
  padding: 0.5%;

  &__square {
    width:100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
  }
}
