//Vars
$off-white: rgb(245,244,244);

//Globals
* {
  box-sizing: border-box;
  font-family: Helvetica;
  text-transform: uppercase;
}

//Styles
body {
  background: $off-white;
}

.sequencer {
  display: flex;
}
.meta {
  width: 20%;
  min-width: 20px;
}
.grid {
  flex-grow: 1;
}



.cell {
  display: inline-block;
  height: 50px;
  width:  50px;
  margin: 2px 4px;
  transition: background-color 0.2s;
}
