<div class="home">
  <p>
    <span class="home__hi">Hi</span>, I'm Louis, a software engineer and
    music fanatic based in London, UK. You can find me and my work on
    <a href="http://github.com/lpil">Github</a>. Drop me an
    <a href="mailto:my-first-name@this-domain" class="js-muddled-email"
      target="_blank">email</a> if you fancy a chat.
  </p>

  <ul class="posts">
    <% blog.articles.each do |post| %>
      <li>
        <span class="posts__date"><%= post.date.strftime '%d.%m.%y' %></span>
        <%= link_to post.title, post, class: 'posts__link' %>
      </li>
    <% end %>
  </ul>
  <span class="posts__feed">
    <i class="fa fa-rss"></i>
    <%= link_to 'Feed', "#{blog.options.prefix}/feed.xml" %>
  </span>
</div>
