<!doctype html>
<html lang="en">
  <%= render "head.html", assigns %>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <%= render "flash.html", conn: @conn, type: :info %>
          <%= render "flash.html", conn: @conn, type: :error %>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/main.js") %>"></script>
  </body>
</html>
