g {
  transition: transform 3s ease-in-out;
}

circle {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  margin: 0;
}
