$col-primary: #228;
$col-secondary: #659abc;
$col-tint: #eea500;

$col-text: #333;

$col-bg-grad-top: #bbb;
$col-bg-grad-btm: #eee;

// Bits
$col-button-bg: $col-secondary;

// Sections
$col-sidebar-search-bg: hotpink;
$col-sidebar-category-bg: hotpink;
