$col-primary: #228;
$col-secondary: #87ceeb;
$col-tint: #eea500;

$col-text: #333;

$col-bg-grad-top: #bbb;
$col-bg-grad-btm: #eee;

// Sections
$col-sidebar-searchbox-bg: hotpink;
$col-sidebar-category-bg: hotpink;
