<ul>
  <% categories.each do |category, children| %>
    <li>
      <%= link_to_unless_current category.name, category %>
      <%= render 'navigation_tree',
        categories: children if children.present? %>
    </li>
  <% end %>
</ul>
