<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>lpil{% if page.title %} &ndash; {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="The website of a code monkey named Louis Pilfold.">
  <meta name="google-site-verification" content="_AfeEurR8a0dWtm37cDqfrZkyOqz_lZWvb_RY-AKM60"/>
  <meta property="og:image" content="https://secure.gravatar.com/avatar/11a70fd3673e3bc3931ea118cc3d12f5?s=300" />
  <link rel="stylesheet" href="/main.css" charset="utf-8">
</head>
<body>
  <header class="site-header">
    <a class="site-header__home" href="/">
      <h1>
        lpil: Louis<i> </i>Pilfold
      </h1>
    </a>
    <nav class="site-header__nav">
      <a href="/projects">Projects</a>
      &ndash;
      <a href="/talking">Talks</a>
      &ndash;
      <a href="https://github.com/lpil" target="_blank">GitHub</a>
    </nav>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <script src="/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
