---
title: About
layout: page
---
<section class="about__intro">
  <img class="about__gravatar-image" alt="A picture of me"
    src="https://secure.gravatar.com/avatar/11a70fd3673e3bc3931ea118cc3d12f5?s=300" />
  <p>
    Louis is a software engineer and full stack web developer based in London,
    UK. He's also a music fanatic with a strong interest in art and music made
    using code.
  </p>
  <p>
    His primary language is Ruby, and he also frequently uses Javascript and
    SCSS. He's currently studying Haskell, and Elixir, as he finds functional
    programming seriously cool.
  </p>
  <p>
    Send him an
    <a href="mailto:my-first-name@this-domain" class="js-muddled-email"
      target="_blank">email</a>!
  </p>
</section>
<p>
  Louis can be found on the following sites:
</p>
<ul class="about__links fa-ul">
  <li>
    <a href="http://www.github.com/lpil">
      <i class="fa fa-lg fa-li fa-github-square"></i>
      Github
    </a>
  </li>
  <li>
    <a href="http://uk.linkedin.com/pub/louis-pilfold/87/667/65b/">
      <i class="fa fa-lg fa-li fa-linkedin-square"></i>
      LinkedIn
    </a>
  </li>
</ul>
