@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Mono);

* {
  color: $text-colour;
}

html {
  font-family: $font-family;
  font-size: 1.1em;
}

a,
p {
  line-height: 1.6em;
}

a {
  color: $link-colour;
  text-decoration: none;
}

a:hover {
  color: lighten($link-colour, 7);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  // Fix the character spacing for headings
  text-rendering: optimizeLegibility;
}

pre,
code {
  font-family: $monospace-font-family;
  font-size: .91em;
}
